django
djangorestframework
pyyaml
requests
django-cors-headers
django-phonenumber-field
django-phonenumbers
Faker
django-filter
firebase-admin
boto3
python-dotenv
tqdm
django-rest-knox
graphene-django>=3
django_crontab
pytz
coverage
django-request-logging==0.7.5
aiohttp
mailchimp_transactional
drf_yasg
zappa
serverless-wsgi
psycopg2-binary